<form class="filter-offers container" name="filterOffers">
  <div class="row">
    <div class="f-o-txt col-sm-4 col-xs-12">
      <label for="f-o-txt-input">Stichwort:</label>
      <input id="f-o-txt-input" class="form-control" type="text" ng-model="keyword"/>
      <button ng-click="filterList()" class="btn btn-default">Suchen</button>
    </div>
    <div class="f-o-type col-sm-4 col-xs-12">
      <label for="f-o-t-input">Typ:</label>
      <select id="f-o-t-input" name="offerType" class="form-control" ng-model="filter.offerType" ng-change="getOffers()">
        <option value="internship">Praxissemester</option>
        <option value="joboffer">Arbeit</option>
        <option value="workingstudent">Werkstudent</option>
        <option value="thesis">Abschlussarbeit</option>
      </select>
    </div>
    <div class="f-o-country col-sm-4 col-xs-12">
      <label for="f-o-c-input">Land:</label>
      <select id="f-o-c-input" name="country" class="form-control" ng-model="filter.country" ng-init="filter.country = filter.country || options[0].value">
        <option value="all">Alle</option>
        <option ng-repeat="company in getUniqueCountryList(jobData.companies)" value="{{company.city}}">{{company.city}}</option>
      </select>
    </div>
  </div>
</form>
<div class="offer-list container">
  <div class="row o-l-item" ng-repeat="offer in jobData.offers | filter:filterCountry">
    <div class="o-l-desc col-xs-12 col-sm-5" data-toggle="modal" data-target="#myModalOffer" ng-click="openOfferDetails($index)">{{offer.shortDescription}}</div>
    <div class="o-l-comp col-xs-4 col-sm-3" data-toggle="modal" data-target="#myModalCompany" ng-click="openCompanyDetails(offer.companyId)">{{getCompanyByID(offer.companyId).companyName}}</div>
    <div class="o-l-country col-xs-4 col-sm-2">{{getCompanyByID(offer.companyId).city}}</div>
    <div class="o-l-save col-xs-4 col-sm-2">
      <button class="btn btn-default" ng-click="saveOffer(offer.id)" ng-show="!isAlreadyWatched(offer.id)"><i class="fa fa-plus-circle"></i>Merke</button>
      <button class="btn btn-default" ng-click="removeOffer(offer.id)" ng-show="isAlreadyWatched(offer.id)"><i class="fa fa-minus-circle"></i>Merke</button>
    </div>
  </div>
</div>
<div class="companyPopup" ng-include="'companyDetails/viewCompanyDetails.html'"></div>
<div class="offerPopup" ng-include="'viewOfferDetails/viewOD.html'"></div>
<nav ng-show="showPagination()">
  <ul class="pagination">
    <li>
      <a href="#" aria-label="Previous" ng-click="changePage(-1,$event)">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
    <li ng-repeat="n in getPaginationNumber(jobData.offers)" ><a ng-click="changePage($index+1,$event)" href="#">{{$index+1}}</a></li>
    <li>
      <a href="#" aria-label="Next" ng-click="changePage(-2,$event)">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
  </ul>
</nav>