<!-- Modal -->
<div class="modal fade" id="myModalOffer" role="dialog">


        <div class="modal-dialog">
            <div class="modal-content">

                <div class="modal-header ng-scope">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h1 class="modal-title">Details zum Angebot</h1>
                </div>
                <div class="modal-body">
                    <div>
                        <p>{{offer.description}}</p>

                        <div class="form-group">
                            <label for="o-d-dateAdded">Verfügbar seit:</label>

                            <p id="o-d-dateAdded">{{offer.dateAdded}}</p>
                        </div>

                        <div class="form-group">
                            <label for="o-d-validDate">Gültig bis:</label>

                            <p id="o-d-validDate">{{offer.validDate}}</p>
                        </div>

                        <div class="form-group">
                            <label for="o-d-usageSite">Einsatzort:</label>

                            <p id="o-d-usageSite">{{offer.usageSite}}</p>
                        </div>

                        <div class="form-group">
                            <div>
                                <label for="o-d-contact">Kontakt:</label>
                                <p id="o-d-contact">{{offer.contact.formOfAddress}}&nbsp;{{offer.contact.firstName}}&nbsp;{{offer.contact.secondName}}</p>
                            </div>
                            <div ng-if="offer.contact.email.length>0">
                                <p>{{offer.contact.email}}</p>
                            </div>
                            <div ng-if="offer.contact.telephone.length>0">
                                <label for="o-d-tel">Tel.:</label>
                                <p id="o-d-tel">{{offer.contact.telephone}}</p>
                            </div>
                            <div ng-if="offer.contact.fax.length>0">
                                <label for="o-d-fax">Fax:</label>
                                <p id="o-d-fax">{{offer.contact.fax}}</p>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="modal-footer ng scope">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">OK</button>
                </div>

            </div>
        </div>
</div>

