/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  padding: 0 0 0.5em;
}
.menu > li {
  display: inline;
}
.viewHolder{
  width:100%;
  height:100%;
}
/* Start Style Login Formular */
.login-form{
  position: absolute;
  width: 100%;
  height: 100%;
  top:0px;
  padding-top: 25%;
  text-align:center;
}
.login-form .form-control{
  margin-bottom:1rem;
}
.l-f-center{
  width:100%;
  margin: 0 auto;
}
.l-f-headline{
  padding-bottom:1rem;
}
@media (min-width: 330px) {
  .l-f-center{
    width:300px;
  }
}
/* Ende Style Login Formular */

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {

}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {

}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

}