/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  padding: 0 0 0.5em;
}
.menu > li {
  display: inline;
}
.viewHolder{
  width:100%;
  height:100%;
}
/* Start Style Login Formular */
.login-form{
  position: absolute;
  width: 100%;
  height: 100%;
  top:0px;
  padding-top: 25%;
  text-align:center;
}
.login-form .form-control{
  margin-bottom:1rem;
}
.l-f-center{
  width:100%;
  margin: 0 auto;
}
.l-f-headline{
  padding-bottom:1rem;
}
@media (min-width: 330px) {
  .l-f-center{
    width:300px;
  }
}
/* Ende Style Login Formular */

/* Start Style Angebotsliste */
.offer-list{

}
.o-l-item{
  border: 1px solid lightgrey;
  border-radius:3px;
  margin-bottom:10px;
}
.o-l-desc{

}
.o-l-comp{

}
.o-l-country{

}
.o-l-save{

}
.o-l-desc,.o-l-comp,.o-l-country,.o-l-save{
  padding:10px;
}
/* Ende Style Angebotsliste */

/* Start Style Filterformular */
.filter-offers{
  margin-bottom:25px;
}
.filter-offers .form-control{
  max-width:200px;
}
.f-o-txt{

}
.f-o-type{

}
.f-o-country{

}


/* Ende Style Filterformular */

/* Start Style Angebotsdetails */

.o-d-dateAdded{

}
.o-d-validDate{

}
.o-d-usageSite{

}
.o-d-contact{

}
.o-d-tel{

}
.o-d-fax{

}
/* Ende Style Angebotsdetails */

/* Die Standardmaessigen Mediaqueries von Bootstrap */
/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {

}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {

}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

}