<h1>Merkliste</h1>


<div class="watchlist-list container">
    <div class="row o-l-item" ng-repeat="offer in watchlistOffers">
        <div class="o-l-desc .col-xs-12 col-sm-10" data-toggle="modal" data-target="#myModalOffer" ng-click="openOfferDetails(offer)">{{offer.shortDescription}}</div>
        <div class="o-l-save .col-xs-6 col-sm-2">
            <button class="btn btn-default" ng-click="removeFromWatchlist(offer.id)">Löschen</button>
        </div>
        <div class="offerPopup" ng-include="'viewOfferDetails/viewOD.html'"></div>
    </div>
</div>