<nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbarCollapse" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#/view1">
            Praxisbörse
          </a>
        </div>
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="nav navbar-nav">
            <li><a href="#/view2">Angebote</a></li>
            <li><a href="#/watchlist">Merkliste</a></li>
            <li><a href="#/view1" ng-click="logout()">Logout</a></li>
          </ul>
        </div>
      </div>
    </nav>
<h1>Merkliste</h1>


<div class="watchlist-list container">
    <div class="row o-l-item" ng-repeat="offer in watchlistOffers">
        <div class="o-l-desc .col-xs-12 col-sm-10" data-toggle="modal" data-target="#myModalOffer" ng-click="openOfferDetails(offer)">{{offer.shortDescription}}</div>
        <div class="o-l-save .col-xs-6 col-sm-2">
            <button class="btn btn-default" ng-click="removeOffer(offer.id)(offer.id)">Löschen</button>
        </div>
        <div class="offerPopup" ng-include="'viewOfferDetails/viewOD.html'"></div>
    </div>
</div>